In [6]:
import pandas as pd
import sqlite3

In [7]:
conn=sqlite3.connect(r"C:\Users\asus\Desktop\Vendor_Analysis\Vendor_DataSales_Analysis\final_inventory.db")

In [8]:
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
print(tables)

                   name
0       begin_inventory
1         end_inventory
2             purchases
3       purchase_prices
4        vendor_invoice
5                 sales
6  vendor_sales_summary

In [15]:
total_width = 120  # 50 stars left + text + 50 stars right approx

for table in tables["name"]:
    row_count = pd.read_sql(
        f"SELECT COUNT(*) AS count FROM '{table}'", conn
    )["count"][0]
    
    title = f"Table Name:-{table}"
    rows  = f"RowsCount :- {row_count:,} Rows Present"
    
    print("\n" + title.center(total_width, "*"))
    print(rows.center(total_width))
    print("*" * total_width)

**********************************************Table Name:-begin_inventory***********************************************
                                           RowsCount :- 206,529 Rows Present
************************************************************************************************************************

***********************************************Table Name:-end_inventory************************************************
                                           RowsCount :- 224,489 Rows Present
************************************************************************************************************************

*************************************************Table Name:-purchases**************************************************
                                          RowsCount :- 2,372,474 Rows Present
************************************************************************************************************************

**********************************************Table Name:-purchase_prices***********************************************
                                            RowsCount :- 12,261 Rows Present
************************************************************************************************************************

***********************************************Table Name:-vendor_invoice***********************************************
                                            RowsCount :- 5,543 Rows Present
************************************************************************************************************************

***************************************************Table Name:-sales****************************************************
                                          RowsCount :- 12,825,363 Rows Present
************************************************************************************************************************

********************************************Table Name:-vendor_sales_summary********************************************
                                            RowsCount :- 10,514 Rows Present
************************************************************************************************************************

In [16]:
for table in tables["name"]:
    print("\n" + "-"*50 + f"Table_name: {table}" + "-"*50)
    result=pd.read_sql(f"select * from {table} limit 5",conn)
    display(result)

--------------------------------------------------Table_name: begin_inventory--------------------------------------------------

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

--------------------------------------------------Table_name: end_inventory--------------------------------------------------

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

--------------------------------------------------Table_name: purchases--------------------------------------------------

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

--------------------------------------------------Table_name: purchase_prices--------------------------------------------------

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

--------------------------------------------------Table_name: vendor_invoice--------------------------------------------------

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

--------------------------------------------------Table_name: sales--------------------------------------------------

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

--------------------------------------------------Table_name: vendor_sales_summary--------------------------------------------------

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesPrice,TotalSalesDollars,TotalTaxPay,TotalFreightCost,GrossProfit,RemaingQunatity,ProfitMargin,StockTurnover,SalesPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049,672819.31,5101919.51,260999.20,68601.68,1290667.91,3031,25.297693,0.979108,0.979108
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247,561512.37,4819073.49,294438.66,144929.24,1015032.27,3791,21.062810,0.976890,0.976890
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140,461140.15,4538120.60,343854.07,123780.22,1119816.92,267,24.675786,0.998575,0.998575
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,200412,420050.01,4475972.88,368242.80,257032.07,1214774.94,1270,27.139908,0.993703,0.993703
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,135838,545778.28,4223107.62,249587.83,257032.07,1199901.61,2271,28.412764,0.983556,0.983556

In [17]:
Vendor_invoice=pd.read_sql("select * from vendor_invoice where VendorNumber=4466",conn)
display(Vendor_invoice)

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-19,8207,2023-12-27,2024-02-26,335,3142.33,16.97,None
2,4466,AMERICAN VINTAGE BEVERAGE,2024-01-18,8307,2024-01-03,2024-02-18,41,383.35,1.99,None
3,4466,AMERICAN VINTAGE BEVERAGE,2024-01-27,8469,2024-01-14,2024-03-11,72,673.20,3.30,None
4,4466,AMERICAN VINTAGE BEVERAGE,2024-02-04,8532,2024-01-19,2024-03-15,79,740.21,3.48,None
5,4466,AMERICAN VINTAGE BEVERAGE,2024-02-09,8604,2024-01-24,2024-03-15,347,3261.37,17.61,None
6,4466,AMERICAN VINTAGE BEVERAGE,2024-02-17,8793,2024-02-05,2024-04-02,72,675.36,3.17,None
7,4466,AMERICAN VINTAGE BEVERAGE,2024-03-01,8892,2024-02-12,2024-03-28,117,1096.05,5.15,None
8,4466,AMERICAN VINTAGE BEVERAGE,2024-03-07,8995,2024-02-19,2024-04-02,129,1209.27,5.44,None
9,4466,AMERICAN VINTAGE BEVERAGE,2024-03-12,9033,2024-02-22,2024-04-16,147,1377.87,6.61,None
10,4466,AMERICAN VINTAGE BEVERAGE,2024-03-16,9180,2024-03-03,2024-04-19,211,1979.33,9.50,None
11,4466,AMERICAN VINTAGE BEVERAGE,2024-03-23,9244,2024-03-08,2024-04-21,161,1510.69,6.95,None
12,4466,AMERICAN VINTAGE BEVERAGE,2024-03-31,9371,2024-03-17,2024-05-13,176,1649.20,8.91,None
13,4466,AMERICAN VINTAGE BEVERAGE,2024-04-09,9491,2024-03-24,2024-05-08,215,2016.43,10.08,None
14,4466,AMERICAN VINTAGE BEVERAGE,2024-04-17,9583,2024-03-31,2024-05-12,110,1035.10,5.69,None
15,4466,AMERICAN VINTAGE BEVERAGE,2024-04-20,9639,2024-04-04,2024-06-04,515,5323.01,25.02,None
16,4466,AMERICAN VINTAGE BEVERAGE,2024-04-29,9800,2024-04-15,2024-06-07,275,2775.01,13.60,None
17,4466,AMERICAN VINTAGE BEVERAGE,2024-05-09,9886,2024-04-21,2024-06-12,312,3050.86,13.73,None
18,4466,AMERICAN VINTAGE BEVERAGE,2024-05-14,9999,2024-04-29,2024-06-26,310,3117.82,14.97,None
19,4466,AMERICAN VINTAGE BEVERAGE,2024-05-16,10095,2024-05-06,2024-06-27,215,2123.01,11.46,None
20,4466,AMERICAN VINTAGE BEVERAGE,2024-05-28,10169,2024-05-11,2024-07-04,327,3298.55,15.83,None
21,4466,AMERICAN VINTAGE BEVERAGE,2024-06-04,10257,2024-05-17,2024-07-08,376,3708.18,20.39,None
22,4466,AMERICAN VINTAGE BEVERAGE,2024-06-12,10346,2024-05-23,2024-07-20,640,6458.38,29.71,None
23,4466,AMERICAN VINTAGE BEVERAGE,2024-06-17,10445,2024-05-30,2024-07-19,288,2937.56,15.86,None
24,4466,AMERICAN VINTAGE BEVERAGE,2024-06-22,10600,2024-06-09,2024-08-01,308,3213.28,17.03,None
25,4466,AMERICAN VINTAGE BEVERAGE,2024-06-29,10695,2024-06-16,2024-08-12,143,1585.75,8.09,None
26,4466,AMERICAN VINTAGE BEVERAGE,2024-07-09,10777,2024-06-22,2024-08-15,18,179.88,0.99,None
27,4466,AMERICAN VINTAGE BEVERAGE,2024-07-08,10836,2024-06-25,2024-08-14,8,85.96,0.43,None
28,4466,AMERICAN VINTAGE BEVERAGE,2024-07-11,10969,2024-06-29,2024-08-18,94,993.12,5.06,None
29,4466,AMERICAN VINTAGE BEVERAGE,2024-07-19,11085,2024-07-06,2024-09-04,601,5883.09,31.18,None
30,4466,AMERICAN VINTAGE BEVERAGE,2024-07-26,11187,2024-07-14,2024-08-26,1535,15406.69,77.03,None
31,4466,AMERICAN VINTAGE BEVERAGE,2024-08-03,11244,2024-07-18,2024-09-04,266,2888.22,15.31,None
32,4466,AMERICAN VINTAGE BEVERAGE,2024-08-11,11362,2024-07-26,2024-09-24,206,2171.64,11.08,None
33,4466,AMERICAN VINTAGE BEVERAGE,2024-08-18,11489,2024-08-04,2024-09-16,768,7292.98,37.92,None
34,4466,AMERICAN VINTAGE BEVERAGE,2024-08-24,11540,2024-08-08,2024-10-02,1207,12242.43,64.88,None
35,4466,AMERICAN VINTAGE BEVERAGE,2024-09-02,11716,2024-08-19,2024-09-29,433,4334.43,20.37,None
36,4466,AMERICAN VINTAGE BEVERAGE,2024-09-12,11771,2024-08-23,2024-10-11,370,3640.18,18.20,None
37,4466,AMERICAN VINTAGE BEVERAGE,2024-09-20,11901,2024-09-01,2024-10-30,358,3626.74,16.32,None
38,4466,AMERICAN VINTAGE BEVERAGE,2024-09-25,11993,2024-09-07,2024-10-23,233,2264.85,12.23,None
39,4466,AMERICAN VINTAGE BEVERAGE,2024-10-01,12125,2024-09-16,2024-11-07,284,2813.46,15.47,None
40,4466,AMERICAN VINTAGE BEVERAGE,2024-10-08,12235,2024-09-23,2024-11-20,258,2592.08,11.92,None
41,4466,AMERICAN VINTAGE BEVERAGE,2024-10-09,12253,2024-09-23,2024-11-14,1,11.19,0.05,None
42,4466,AMERICAN VINTAGE BEVERAGE,2024-10-12,12321,2024-09-26,2024-11-19,172,1685.98,7.59,None
43,4466,AMERICAN VINTAGE BEVERAGE,2024-10-20,12466,2024-10-05,2024-11-26,280,2798.60,14.55,None
44,4466,AMERICAN VINTAGE BEVERAGE,2024-10-27,12515,2024-10-09,2024-11-30,178,1763.28,8.64,None
45,4466,AMERICAN VINTAGE BEVERAGE,2024-11-07,12702,2024-10-21,2024-12-11,183,1812.77,8.70,None
46,4466,AMERICAN VINTAGE BEVERAGE,2024-11-12,12752,2024-10-25,2024-12-11,216,2156.16,10.57,None
47,4466,AMERICAN VINTAGE BEVERAGE,2024-11-20,12828,2024-10-30,2024-12-18,262,2597.36,12.99,None
48,4466,AMERICAN VINTAGE BEVERAGE,2024-11-27,12929,2024-11-06,2025-01-04,270,2622.32,12.85,None
49,4466,AMERICAN VINTAGE BEVERAGE,2024-11-28,13092,2024-11-16,2024-12-30,209,2036.17,11.20,None
50,4466,AMERICAN VINTAGE BEVERAGE,2024-12-06,13134,2024-11-20,2025-01-18,305,3018.89,15.70,None
51,4466,AMERICAN VINTAGE BEVERAGE,2024-12-16,13254,2024-11-28,2025-01-13,262,2530.36,11.39,None
52,4466,AMERICAN VINTAGE BEVERAGE,2024-12-26,13432,2024-12-09,2025-01-27,231,2263.43,11.32,None
53,4466,AMERICAN VINTAGE BEVERAGE,2024-12-30,13483,2024-12-13,2025-02-11,221,2178.27,11.33,None
54,4466,AMERICAN VINTAGE BEVERAGE,2025-01-09,13627,2024-12-22,2025-02-05,413,3985.03,19.53,None

In [14]:
purchases=pd.read_sql("select * from purchases where VendorNumber=4466",conn)
display(purchases)

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,42_BLACK HOLLOW_3140,42,3140,TGI Fridays Orange Dream,1.75L,4466,AMERICAN VINTAGE BEVERAGE,9639,2024-04-04,2024-04-12,2024-04-20,2024-06-04,11.19,5,55.95,1
1,30_CULCHETH_3140,30,3140,TGI Fridays Orange Dream,1.75L,4466,AMERICAN VINTAGE BEVERAGE,9639,2024-04-04,2024-04-11,2024-04-20,2024-06-04,11.19,6,67.14,1
2,34_PITMERDEN_3140,34,3140,TGI Fridays Orange Dream,1.75L,4466,AMERICAN VINTAGE BEVERAGE,9639,2024-04-04,2024-04-12,2024-04-20,2024-06-04,11.19,6,67.14,1
3,74_PAENTMARWY_3140,74,3140,TGI Fridays Orange Dream,1.75L,4466,AMERICAN VINTAGE BEVERAGE,9639,2024-04-04,2024-04-15,2024-04-20,2024-06-04,11.19,6,67.14,1
4,79_BALLYMENA_3140,79,3140,TGI Fridays Orange Dream,1.75L,4466,AMERICAN VINTAGE BEVERAGE,9639,2024-04-04,2024-04-12,2024-04-20,2024-06-04,11.19,6,67.14,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2187,78_EASTHAVEN_5255,78,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-30,2025-01-04,2025-02-10,9.35,5,46.75,1
2188,34_PITMERDEN_5255,34,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-26,2025-01-04,2025-02-10,9.35,6,56.10,1
2189,32_MOUNTMEND_5255,32,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.35,6,56.10,1
2190,62_KILMARNOCK_5255,62,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-28,2025-01-04,2025-02-10,9.35,5,46.75,1
2191,35_HALIVAARA_5255,35,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,13595,2024-12-20,2024-12-27,2025-01-04,2025-02-10,9.35,5,46.75,1

In [18]:
purchase_prices=pd.read_sql("select * from purchase_prices where VendorNumber=4466",conn)
display(purchase_prices)

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE
1,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
2,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE

In [19]:
Sales=pd.read_sql("select * from sales where VendorNo=4466",conn)
display(Sales)

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_3140,1,3140,TGI Fridays Orange Dream,1.75L,1,12.99,12.99,2024-04-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_3140,1,3140,TGI Fridays Orange Dream,1.75L,1,12.99,12.99,2024-04-30,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,10_HORNSEY_3140,10,3140,TGI Fridays Orange Dream,1.75L,1,12.99,12.99,2024-04-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,14_BROMWICH_3140,14,3140,TGI Fridays Orange Dream,1.75L,1,12.99,12.99,2024-04-16,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,14_BROMWICH_3140,14,3140,TGI Fridays Orange Dream,1.75L,2,25.98,12.99,2024-04-23,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9448,8_ALNERWICK_5255,8,5255,TGI Fridays Ultimte Mudslide,1.75L,4,51.96,12.99,2024-12-31,1750.0,1,7.35,4466,AMERICAN VINTAGE BEVERAGE
9449,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9450,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9451,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9452,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [16]:
purchases.groupby(["Brand","PurchasePrice"])[["Quantity","Dollars"]].sum()

                     Quantity   Dollars
Brand PurchasePrice
3140  11.19              4640  51921.60
5215  9.41               4923  46325.43
5255  9.35               6215  58110.25

In [17]:
display(purchase_prices)

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,3140,TGI Fridays Orange Dream,14.99,1750mL,1750,1,11.19,4466,AMERICAN VINTAGE BEVERAGE
1,5215,TGI Fridays Long Island Iced,12.99,1750mL,1750,1,9.41,4466,AMERICAN VINTAGE BEVERAGE
2,5255,TGI Fridays Ultimte Mudslide,12.99,1750mL,1750,1,9.35,4466,AMERICAN VINTAGE BEVERAGE

In [18]:
Vendor_invoice["PONumber"].nunique()

55

In [19]:
Vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [20]:
display(Sales)

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_3140,1,3140,TGI Fridays Orange Dream,1.75L,1,12.99,12.99,2024-04-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
1,1_HARDERSFIELD_3140,1,3140,TGI Fridays Orange Dream,1.75L,1,12.99,12.99,2024-04-30,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
2,10_HORNSEY_3140,10,3140,TGI Fridays Orange Dream,1.75L,1,12.99,12.99,2024-04-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
3,14_BROMWICH_3140,14,3140,TGI Fridays Orange Dream,1.75L,1,12.99,12.99,2024-04-16,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
4,14_BROMWICH_3140,14,3140,TGI Fridays Orange Dream,1.75L,2,25.98,12.99,2024-04-23,1750.0,1,3.67,4466,AMERICAN VINTAGE BEVERAGE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9448,8_ALNERWICK_5255,8,5255,TGI Fridays Ultimte Mudslide,1.75L,4,51.96,12.99,2024-12-31,1750.0,1,7.35,4466,AMERICAN VINTAGE BEVERAGE
9449,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-02,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9450,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-09,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9451,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-23,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE
9452,9_BLACKPOOL_5255,9,5255,TGI Fridays Ultimte Mudslide,1.75L,1,12.99,12.99,2024-12-31,1750.0,1,1.84,4466,AMERICAN VINTAGE BEVERAGE

In [17]:
Sales.groupby("Brand")[["SalesDollars","SalesPrice","SalesQuantity"]].sum()

       SalesDollars  SalesPrice  SalesQuantity
Brand
3140       50531.10    30071.85           3890
5215       60416.49    41542.02           4651
5255       79187.04    51180.60           6096

In [21]:
Vendor_invoice.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [ ]:
freight_summary=pd.read_sql_query("select VendorNumber,sum(Freight) as freight_Cost from vendor_invoice group by VendorNumber",conn)
display(freight_summary)

In [22]:
purchases.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [23]:
purchase_prices.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [24]:
pd.read_sql_query("""select 
                     purchases.Brand, 
                     purchases.VendorNumber, 
                     purchases.VendorName,
                     purchases.PurchasePrice,
                     purchase_prices.Volume,
                     purchase_prices.Price as ActualPrice,
                     sum(purchases.Quantity) as TotalQuantity,
                     sum(purchases.Dollars) as TotalPurchasesDollar
                     from purchases inner join  purchase_prices
                     on purchases.Brand=purchase_prices.Brand
                     where purchases.PurchasePrice > 0
                     group by purchases.Brand,purchases.VendorNumber,purchases.VendorName,purchases.PurchasePrice,
                     purchase_prices.Volume,purchase_prices.Price 
                     order by TotalPurchasesDollar desc""",conn)

,Brand,VendorNumber,VendorName,PurchasePrice,Volume,ActualPrice,TotalQuantity,TotalPurchasesDollar
0,1233,1128,BROWN-FORMAN CORP,26.27,1750,36.99,145080,3811251.60
1,3405,4425,MARTIGNETTI COMPANIES,23.19,1750,28.99,164038,3804041.22
2,8068,17035,PERNOD RICARD USA,18.24,1750,24.99,187407,3418303.68
3,4261,3960,DIAGEO NORTH AMERICA INC,16.17,1750,22.99,201682,3261197.94
4,3545,3960,DIAGEO NORTH AMERICA INC,21.89,1750,29.99,138109,3023206.01
...,...,...,...,...,...,...,...,...
10687,8527,9815,WINE GROUP INC,1.32,750,4.99,2,2.64
10688,5683,8004,SAZERAC CO INC,0.39,50,0.49,6,2.34
10689,9123,3924,HEAVEN HILL DISTILLERIES,0.74,50,0.99,2,1.48
10690,6127,3960,DIAGEO NORTH AMERICA INC,1.47,200,1.99,1,1.47
10691,3065,7245,PROXIMO SPIRITS INC.,0.71,50,0.99,1,0.71

In [25]:
Sales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [26]:
pd.read_sql_query(""" 
                      select
                      Brand,
                      VendorNo,
                      sum(SalesQuantity) as TotalQuantity,
                      sum(SalesDollars) as TotalSalesDollars,
                      sum(SalesPrice) as SalesPrice,
                      sum(ExciseTax) as Totaltax
                      from sales
                      group by Brand,VendorNo
                      order by TotalSalesDollars desc
                      """,conn)

,Brand,VendorNo,TotalQuantity,TotalSalesDollars,SalesPrice,Totaltax
0,1233,1128,142049,5101919.51,672819.31,260999.20
1,3405,4425,160247,4819073.49,561512.37,294438.66
2,8068,17035,187140,4538120.60,461140.15,343854.07
3,4261,3960,200412,4475972.88,420050.01,368242.80
4,3545,3960,135838,4223107.62,545778.28,249587.83
...,...,...,...,...,...,...
11267,3933,3252,2,1.98,0.99,0.10
11268,9123,3924,2,1.98,0.99,0.10
11269,3623,10050,2,1.98,1.98,0.10
11270,2773,9206,1,0.99,0.99,0.05
11271,5287,8004,2,0.98,0.98,0.10

In [27]:
# Create indexes
conn.execute("CREATE INDEX IF NOT EXISTS idx_purchase_vendor_brand ON purchase_prices(VendorNumber, Brand);")
conn.execute("CREATE INDEX IF NOT EXISTS idx_sales_vendor_brand ON sales(VendorNo, Brand);")
conn.execute("CREATE INDEX IF NOT EXISTS idx_invoice_vendor ON vendor_invoice(VendorNumber);")
conn.execute("CREATE INDEX IF NOT EXISTS idx_purchases ON purchases(VendorNumber,Brand);")

In [28]:
vendor_sales_summary=pd.read_sql_query("""
WITH SalesAgg AS (
    SELECT 
        VendorNo, 
        Brand,
        SUM(SalesQuantity) AS TotalSalesQuantity,
        SUM(SalesPrice) AS TotalSalesPrice,
        SUM(SalesDollars) AS TotalSalesDollars,
        SUM(ExciseTax) AS TotalTaxPay
    FROM sales
    GROUP BY VendorNo, Brand
),

InvoiceAgg AS (
    SELECT 
        VendorNumber,
        SUM(Freight) AS TotalFreightCost
    FROM vendor_invoice
    GROUP BY VendorNumber
),

PurchaseAgg AS (
    SELECT
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.Description,
        p.PurchasePrice,
        pp.Price AS ActualPrice,
        pp.Volume,
        SUM(p.Quantity) AS TotalPurchaseQuantity,
        SUM(p.Dollars) AS TotalPurchaseDollars
    FROM purchases p
    JOIN  purchase_prices pp
        ON p.Brand = pp.Brand
    WHERE p.PurchasePrice > 0
    GROUP BY 
        p.VendorNumber,
        p.VendorName,
        p.Brand,
        p.Description,
        p.PurchasePrice,
        pp.Price,
        pp.Volume
)

SELECT
    PurchaseAgg.VendorNumber,
    PurchaseAgg.VendorName,
    PurchaseAgg.Brand,
    PurchaseAgg.Description,
    PurchaseAgg.PurchasePrice,
    PurchaseAgg.ActualPrice,
    PurchaseAgg.Volume,
    PurchaseAgg.TotalPurchaseQuantity,
    PurchaseAgg.TotalPurchaseDollars,
    SalesAgg.TotalSalesQuantity,
    SalesAgg.TotalSalesPrice,
    SalesAgg.TotalSalesDollars,
    SalesAgg.TotalTaxPay,
    InvoiceAgg.TotalFreightCost
FROM PurchaseAgg
Inner JOIN SalesAgg
  ON PurchaseAgg.VendorNumber = SalesAgg.VendorNo
 AND PurchaseAgg.Brand = SalesAgg.Brand
Inner JOIN InvoiceAgg
  ON PurchaseAgg.VendorNumber = InvoiceAgg.VendorNumber
ORDER BY TotalSalesDollars DESC
""", conn)

In [29]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesPrice,TotalSalesDollars,TotalTaxPay,TotalFreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750,145080,3811251.60,142049,672819.31,5101919.51,260999.20,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750,164038,3804041.22,160247,561512.37,4819073.49,294438.66,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750,187407,3418303.68,187140,461140.15,4538120.60,343854.07,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750,201682,3261197.94,200412,420050.01,4475972.88,368242.80,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750,138109,3023206.01,135838,545778.28,4223107.62,249587.83,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10509,5612,MILTONS DISTRIBUTING CO,17675,Albero Sparkling Wh Organic,4.14,6.29,750,1,4.14,1,5.79,5.79,0.11,9.46
10510,9815,WINE GROUP INC,26950,Firefly Ridge Chard,3.99,5.79,750,1,3.99,1,5.79,5.79,0.11,27100.41
10511,8673,STE MICHELLE WINE ESTATES,13344,Columbia Crest Two Vines Rsl,3.57,5.29,1500,1,3.57,1,5.29,5.29,0.22,15919.70
10512,4425,MARTIGNETTI COMPANIES,27934,Terruzzi & Puthod Vernaccia,3.37,4.99,750,1,3.37,1,4.99,4.99,0.11,144929.24
10513,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50,2,1.48,2,0.99,1.98,0.10,14069.87

In [30]:
vendor_sales_summary.isnull().sum()

VendorNumber             0
VendorName               0
Brand                    0
Description              0
PurchasePrice            0
ActualPrice              0
Volume                   0
TotalPurchaseQuantity    0
TotalPurchaseDollars     0
TotalSalesQuantity       0
TotalSalesPrice          0
TotalSalesDollars        0
TotalTaxPay              0
TotalFreightCost         0
dtype: int64

In [31]:
for col in vendor_sales_summary.columns:
    if vendor_sales_summary[col].nunique() > 1:
        print(vendor_sales_summary[col].value_counts())
        print("*"*100)

VendorNumber
4425      1363
9552       818
9165       815
10754      769
3252       500
          ...
201359       1
90026        1
90033        1
1439         1
9099         1
Name: count, Length: 124, dtype: int64
****************************************************************************************************
VendorName
MARTIGNETTI COMPANIES          1357
M S WALKER INC                  818
ULTRA BEVERAGE COMPANY LLP      815
PERFECTA WINES                  769
E & J GALLO WINERY              500
                               ...
FLAVOR ESSENCE INC                1
SILVER MOUNTAIN CIDERS            1
FANTASY FINE WINES CORP           1
CAPSTONE INTERNATIONAL            1
TRUETT HURST                      1
Name: count, Length: 127, dtype: int64
****************************************************************************************************
Brand
2717     2
31384    2
2158     2
5197     2
17754    2
        ..
19861    1
19863    1
16688    1
14360    1
126      1
Name: count, Length: 10485, dtype: int64
****************************************************************************************************
Description
Southern Comfort              10
Jagermeister Liqueur           7
Bacardi Superior Rum           7
Capt Morgan Spiced Rum         6
Jim Beam                       6
                              ..
Belcreme de Lys Pnt Nr         1
Tussock Jumper Chard           1
Santa Rita Organic Svgn Bl     1
2 Copas Spain Red              1
Livingston Clrs Pnt Grigio     1
Name: count, Length: 9483, dtype: int64
****************************************************************************************************
PurchasePrice
6.53      57
6.66      52
8.78      50
6.80      49
6.84      49
          ..
61.43      1
23.30      1
141.72     1
49.67      1
57.55      1
Name: count, Length: 2123, dtype: int64
****************************************************************************************************
ActualPrice
9.99      636
12.99     570
11.99     503
10.99     455
13.99     443
         ...
221.99      1
52.49       1
43.49       1
4.39        1
15.79       1
Name: count, Length: 331, dtype: int64
****************************************************************************************************
Volume
750      8387
1500      444
1750      390
1000      374
375       266
50        249
187        97
3000       95
500        46
5000       43
200        26
300        22
4000       14
720        11
250         9
100         9
330         5
180         5
6000        3
20000       3
18000       3
150         2
560         2
162.5       2
600         2
1100        1
400         1
19500       1
9000        1
650         1
Name: count, dtype: int64
****************************************************************************************************
TotalPurchaseQuantity
12        459
24        431
36        265
1         172
6         163
         ...
101480      1
40380       1
97473       1
59088       1
201682      1
Name: count, Length: 3874, dtype: int64
****************************************************************************************************
TotalPurchaseDollars
95.28         9
206.40        8
105.36        8
141.12        7
189.36        6
             ..
6.90          1
169.44        1
6.81          1
6.80          1
1478001.42    1
Name: count, Length: 9693, dtype: int64
****************************************************************************************************
TotalSalesQuantity
12       299
6        151
1        130
24       120
3        111
        ...
98938      1
79042      1
77041      1
32945      1
3609       1
Name: count, Length: 3808, dtype: int64
****************************************************************************************************
TotalSalesPrice
13.99        32
11.99        28
12.99        25
14.99        24
9.99         24
             ..
28.97         1
5.97          1
26.99         1
18.97         1
294049.49     1
Name: count, Length: 8837, dtype: int64
****************************************************************************************************
TotalSalesDollars
167.88       25
179.88       20
155.88       16
119.88       15
143.88       15
             ..
12.58         1
157718.86     1
157610.00     1
11.58         1
477.60        1
Name: count, Length: 9439, dtype: int64
****************************************************************************************************
TotalTaxPay
1.35         178
0.11          88
2.70          74
0.33          65
0.22          64
            ...
3.32           1
16.80          1
1.92           1
294438.66      1
343854.07      1
Name: count, Length: 7317, dtype: int64
****************************************************************************************************
TotalFreightCost
144929.24    1363
55551.82      818
68054.70      815
28720.52      769
61966.91      500
             ...
0.09            1
0.36            1
0.61            1
0.27            1
1.25            1
Name: count, Length: 124, dtype: int64
****************************************************************************************************

In [32]:
vendor_sales_summary["VendorName"].unique()

array(['BROWN-FORMAN CORP          ', 'MARTIGNETTI COMPANIES',
       'PERNOD RICARD USA          ', 'DIAGEO NORTH AMERICA INC   ',
       'BACARDI USA INC            ', 'JIM BEAM BRANDS COMPANY    ',
       'MAJESTIC FINE WINES        ', 'ULTRA BEVERAGE COMPANY LLP ',
       'MOET HENNESSY USA INC      ', 'PROXIMO SPIRITS INC.       ',
       'STOLI GROUP,(USA) LLC      ', 'CAMPARI AMERICA            ',
       'SAZERAC CO INC             ', 'CONSTELLATION BRANDS INC   ',
       'PALM BAY INTERNATIONAL INC ', 'SAZERAC NORTH AMERICA INC. ',
       'M S WALKER INC             ', 'E & J GALLO WINERY         ',
       'REMY COINTREAU USA INC     ', 'DISARONNO INTERNATIONAL LLC',
       'SIDNEY FRANK IMPORTING CO  ', 'HEAVEN HILL DISTILLERIES   ',
       'WILLIAM GRANT & SONS INC   ', 'EDRINGTON AMERICAS         ',
       'CASTLE BRANDS CORP.        ', 'TRINCHERO FAMILY ESTATES   ',
       'SOUTHERN WINE & SPIRITS NE ', 'STE MICHELLE WINE ESTATES  ',
       'WINE GROUP INC             ', 'PERFECTA WINES             ',
       'MHW LTD                    ', 'TREASURY WINE ESTATES      ',
       'DIAGEO CHATEAU ESTATE WINES', 'PINE STATE TRADING CO      ',
       'LUXCO INC                  ', 'SHAW ROSS INT L IMP LTD    ',
       'PHILLIPS PRODUCTS CO.      ', 'KOBRAND CORPORATION        ',
       'STATE WINE & SPIRITS   ', 'BANFI PRODUCTS CORP        ',
       'CALEDONIA SPIRITS INC      ', 'VINEYARD BRANDS INC        ',
       'DELICATO VINEYARDS INC     ', 'Serralles Usa LLC          ',
       'VRANKEN AMERICA            ', 'LATITUDE BEVERAGE COMPANY  ',
       'KLIN SPIRITS LLC           ', 'OLE SMOKY DISTILLERY LLC   ',
       'DUGGANS DISTILLED PRODUCTS ', 'SEA HAGG DISTILLERY LLC    ',
       'FABRIZIA SPIRITS LLC       ', 'FREDERICK WILDMAN & SONS   ',
       'MCCORMICK DISTILLING CO    ', 'CHARLES JACQUIN ET CIE INC ',
       'WESTERN SPIRITS BEVERAGE CO', 'AMERICAN VINTAGE BEVERAGE  ',
       'MARSALLE COMPANY           ', 'SWEET BABY VINEYARD        ',
       'ADAMBA IMPORTS INTL INC    ', 'LAIRD & CO                 ',
       'NICHE W & S                ', 'LABELLE VYDS AND WINERY    ',
       'MANGO BOTTLING INC         ', 'PREMIUM PORT WINES, INC.   ',
       'FLAG HILL WINERY & VINEYARD', 'SEA BREEZE CELLARS LLC     ',
       'Russian Standard Vodka     ', 'VINILANDIA USA             ',
       'PREMIER DISTRIBUTORS       ', 'WEIN BAUER INC             ',
       'BULLY BOY DISTILLERS       ', 'Dunn Wine Brokers          ',
       'ATLANTIC IMPORTING COMPANY ', 'SMOKY QUARTZ DISTILLERY LLC',
       'TAKARA SAKE USA INC        ', 'PSP WINES ',
       'ZORVINO VINEYARDS          ', 'PARK STREET IMPORTS LLC    ',
       'CRUSH WINES                ', 'POVERTY LANE ORCHARDS      ',
       'SOUTHERN GLAZERS W&S OF NE ', 'FORTUNE WINE BROKERS LLC   ',
       'DJINN SPIRITS LLC          ', 'STARK BREWING COMPANY      ',
       'TAMWORTH DISTILLING        ', 'JEWELL TOWNE VINEYARDS     ',
       'MOONLIGHT MEADERY          ', 'HOOD RIVER DISTILLERS, Inc.',
       'TY KU LLC                  ', 'VINEXTRA INC               ',
       'ALISA CARR BEVERAGES           ', 'SURVILLE ENTERPRISES CORP  ',
       'MARTIGNETTI COMPANIES ', 'CANDIA VINEYARDS           ',
       'INCREDIBREW INC            ', 'ALTAMAR BRANDS LLC         ',
       'TALL SHIP DISTILLERY LLC   ', 'SWEETWATER FARM         ',
       'STELLAR IMPORTING CO LLC   ', 'VINEDREA WINES LLC         ',
       'BLACK PRINCE DISTILLERY INC', 'STAR INDUSTRIES INC.       ',
       'FULCHINO VINEYARD INC      ', 'THE PIERPONT GROUP LLC     ',
       'BLACK COVE BEVERAGES       ', 'THE IMPORTED GRAPE LLC     ',
       'Circa Wines                ', 'R.P.IMPORTS INC            ',
       'WALPOLE MTN VIEW WINERY    ', 'HAUNTING WHISPER VYDS      ',
       'VINEYARD BRANDS LLC        ', 'BLACK ROCK SPIRITS LLC     ',
       'GILMANTON WINERY & VINEYARD', 'AMERICAN SPIRITS EXCHANGE  ',
       'FLAVOR ESSENCE INC         ', 'CENTEUR IMPORTS LLC        ',
       'LOYAL DOG WINERY           ', 'BRONCO WINE COMPANY        ',
       'APPOLO VINEYARDS LLC       ',
       'IRA GOLDMAN AND WILLIAMS, LLP          ',
       'MILTONS DISTRIBUTING CO    ', 'HIGHLAND WINE MERCHANTS LLC',
       'SILVER MOUNTAIN CIDERS     ', 'FANTASY FINE WINES CORP    ',
       'UNCORKED       ', 'CAPSTONE INTERNATIONAL     ',
       'TRUETT HURST               '], dtype=object)

In [33]:
vendor_sales_summary["VendorName"]=vendor_sales_summary["VendorName"].str.strip()
vendor_sales_summary["VendorName"]

0                BROWN-FORMAN CORP
1            MARTIGNETTI COMPANIES
2                PERNOD RICARD USA
3         DIAGEO NORTH AMERICA INC
4         DIAGEO NORTH AMERICA INC
                   ...
10509      MILTONS DISTRIBUTING CO
10510               WINE GROUP INC
10511    STE MICHELLE WINE ESTATES
10512        MARTIGNETTI COMPANIES
10513     HEAVEN HILL DISTILLERIES
Name: VendorName, Length: 10514, dtype: object

In [34]:
vendor_sales_summary["Description"]=vendor_sales_summary["Description"].str.strip()
vendor_sales_summary["Description"]

0             Jack Daniels No 7 Black
1               Tito's Handmade Vodka
2                    Absolut 80 Proof
3              Capt Morgan Spiced Rum
4                     Ketel One Vodka
                     ...
10509     Albero Sparkling Wh Organic
10510             Firefly Ridge Chard
10511    Columbia Crest Two Vines Rsl
10512     Terruzzi & Puthod Vernaccia
10513                 Deep Eddy Vodka
Name: Description, Length: 10514, dtype: object

In [35]:
vendor_sales_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10514 entries, 0 to 10513
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorNumber           10514 non-null  int64
 1   VendorName             10514 non-null  object
 2   Brand                  10514 non-null  int64
 3   Description            10514 non-null  object
 4   PurchasePrice          10514 non-null  float64
 5   ActualPrice            10514 non-null  float64
 6   Volume                 10514 non-null  object
 7   TotalPurchaseQuantity  10514 non-null  int64
 8   TotalPurchaseDollars   10514 non-null  float64
 9   TotalSalesQuantity     10514 non-null  int64
 10  TotalSalesPrice        10514 non-null  float64
 11  TotalSalesDollars      10514 non-null  float64
 12  TotalTaxPay            10514 non-null  float64
 13  TotalFreightCost       10514 non-null  float64
dtypes: float64(7), int64(4), object(3)
memory usage: 1.1+ MB

In [36]:
vendor_sales_summary["Volume"]=vendor_sales_summary["Volume"].astype("float64")
vendor_sales_summary["Volume"]

0        1750.0
1        1750.0
2        1750.0
3        1750.0
4        1750.0
          ...
10509     750.0
10510     750.0
10511    1500.0
10512     750.0
10513      50.0
Name: Volume, Length: 10514, dtype: float64

In [37]:
vendor_sales_summary["GrossProfit"]=vendor_sales_summary["TotalSalesDollars"]-vendor_sales_summary["TotalPurchaseDollars"]
vendor_sales_summary[["GrossProfit"]]

       GrossProfit
0       1290667.91
1       1015032.27
2       1119816.92
3       1214774.94
4       1199901.61
...            ...
10509         1.65
10510         1.80
10511         1.72
10512         1.62
10513         0.50

[10514 rows x 1 columns]

In [43]:
vendor_sales_summary["ProfitMargin"]=vendor_sales_summary["GrossProfit"]/(vendor_sales_summary["TotalSalesDollars"])*100
vendor_sales_summary[["ProfitMargin"]]

       ProfitMargin
0         25.297693
1         21.062810
2         24.675786
3         27.139908
4         28.412764
...             ...
10509     28.497409
10510     31.088083
10511     32.514178
10512     32.464930
10513     25.252525

[10514 rows x 1 columns]

In [51]:
vendor_sales_summary["StockTurnover"]=vendor_sales_summary["TotalSalesQuantity"]/vendor_sales_summary["TotalPurchaseQuantity"]
vendor_sales_summary[["StockTurnover"]]

       StockTurnover
0           0.979108
1           0.976890
2           0.998575
3           0.993703
4           0.983556
...              ...
10509       1.000000
10510       1.000000
10511       1.000000
10512       1.000000
10513       1.000000

[10514 rows x 1 columns]

In [38]:
vendor_sales_summary["RemaingQunatity"]=vendor_sales_summary["TotalPurchaseQuantity"]-vendor_sales_summary["TotalSalesQuantity"]
vendor_sales_summary[["RemaingQunatity"]]

       RemaingQunatity
0                 3031
1                 3791
2                  267
3                 1270
4                 2271
...                ...
10509                0
10510                0
10511                0
10512                0
10513                0

[10514 rows x 1 columns]

In [74]:
vendor_sales_summary["SalesPurchaseRatio"]=vendor_sales_summary["TotalSalesQuantity"]/vendor_sales_summary["TotalPurchaseQuantity"]
vendor_sales_summary[["SalesPurchaseRatio"]]

       SalesPurchaseRatio
0                0.979108
1                0.976890
2                0.998575
3                0.993703
4                0.983556
...                   ...
10509            1.000000
10510            1.000000
10511            1.000000
10512            1.000000
10513            1.000000

[10514 rows x 1 columns]

In [53]:
vendor_sales_summary["SalesPurchaseRatio"]=vendor_sales_summary["TotalSalesQuantity"]/vendor_sales_summary["TotalPurchaseQuantity"]
vendor_sales_summary["SalesPurchaseRatio"]

0        0.979108
1        0.976890
2        0.998575
3        0.993703
4        0.983556
           ...
10509    1.000000
10510    1.000000
10511    1.000000
10512    1.000000
10513    1.000000
Name: SalesPurchaseRatio, Length: 10514, dtype: float64

In [54]:
vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesPrice,TotalSalesDollars,TotalTaxPay,TotalFreightCost,GrossProfit,RemaingQunatity,ProfitMargin,StockTurnover,SalesPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049,672819.31,5101919.51,260999.20,68601.68,1290667.91,3031,25.297693,0.979108,0.979108
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247,561512.37,4819073.49,294438.66,144929.24,1015032.27,3791,21.062810,0.976890,0.976890
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140,461140.15,4538120.60,343854.07,123780.22,1119816.92,267,24.675786,0.998575,0.998575
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,200412,420050.01,4475972.88,368242.80,257032.07,1214774.94,1270,27.139908,0.993703,0.993703
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,135838,545778.28,4223107.62,249587.83,257032.07,1199901.61,2271,28.412764,0.983556,0.983556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10509,5612,MILTONS DISTRIBUTING CO,17675,Albero Sparkling Wh Organic,4.14,6.29,750.0,1,4.14,1,5.79,5.79,0.11,9.46,1.65,0,28.497409,1.000000,1.000000
10510,9815,WINE GROUP INC,26950,Firefly Ridge Chard,3.99,5.79,750.0,1,3.99,1,5.79,5.79,0.11,27100.41,1.80,0,31.088083,1.000000,1.000000
10511,8673,STE MICHELLE WINE ESTATES,13344,Columbia Crest Two Vines Rsl,3.57,5.29,1500.0,1,3.57,1,5.29,5.29,0.22,15919.70,1.72,0,32.514178,1.000000,1.000000
10512,4425,MARTIGNETTI COMPANIES,27934,Terruzzi & Puthod Vernaccia,3.37,4.99,750.0,1,3.37,1,4.99,4.99,0.11,144929.24,1.62,0,32.464930,1.000000,1.000000
10513,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2,1.48,2,0.99,1.98,0.10,14069.87,0.50,0,25.252525,1.000000,1.000000

In [56]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(r"C:\Users\asus\Desktop\Vendor_Analysis\Vendor_DataSales_Analysis\final_inventory.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS vendor_sales_summary (
    VendorNumber INTEGER,
    VendorName VARCHAR(100),
    Brand INTEGER,
    Description VARCHAR(100),
    PurchasePrice DECIMAL(15,2),
    ActualPrice DECIMAL(15,2),
    Volume DECIMAL(15,2),
    TotalPurchaseQuantity INTEGER,
    TotalPurchaseDollars DECIMAL(15,2),
    TotalSalesQuantity DECIMAL(15,2),
    TotalSalesPrice DECIMAL(15,2),
    TotalSalesDollars DECIMAL(15,2),
    TotalTaxPay DECIMAL(15,2),
    TotalFreightCost DECIMAL(15,2),
    TotalGrossProfit DECIMAL(15,2),
    TotalProfitMargin DECIMAL(15,2),
    StockTurnover DECIMAL(15,2),
    RemainingQuantity DECIMAL(15,2),
    SalesPurchaseRatio DECIMAL(15,2)
);
""")

conn.commit()

# Insert DataFrame into SQLite
vendor_sales_summary.to_sql(
    name="vendor_sales_summary",
    con=conn,
    if_exists="replace",
    index=False
)

conn.close()

print("Inserted", len(vendor_sales_summary), "filtered rows into Final_Result")

Inserted 10514 filtered rows into Final_Result

In [60]:
df=pd.read_sql_query("select * from vendor_sales_summary",conn)
df

,VendorNumber,VendorName,Brand,Description,PurchasePrice,ActualPrice,Volume,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesQuantity,TotalSalesPrice,TotalSalesDollars,TotalTaxPay,TotalFreightCost,GrossProfit,RemaingQunatity,ProfitMargin,StockTurnover,SalesPurchaseRatio
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,36.99,1750.0,145080,3811251.60,142049,672819.31,5101919.51,260999.20,68601.68,1290667.91,3031,25.297693,0.979108,0.979108
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,28.99,1750.0,164038,3804041.22,160247,561512.37,4819073.49,294438.66,144929.24,1015032.27,3791,21.062810,0.976890,0.976890
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,24.99,1750.0,187407,3418303.68,187140,461140.15,4538120.60,343854.07,123780.22,1119816.92,267,24.675786,0.998575,0.998575
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,22.99,1750.0,201682,3261197.94,200412,420050.01,4475972.88,368242.80,257032.07,1214774.94,1270,27.139908,0.993703,0.993703
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,29.99,1750.0,138109,3023206.01,135838,545778.28,4223107.62,249587.83,257032.07,1199901.61,2271,28.412764,0.983556,0.983556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10509,5612,MILTONS DISTRIBUTING CO,17675,Albero Sparkling Wh Organic,4.14,6.29,750.0,1,4.14,1,5.79,5.79,0.11,9.46,1.65,0,28.497409,1.000000,1.000000
10510,9815,WINE GROUP INC,26950,Firefly Ridge Chard,3.99,5.79,750.0,1,3.99,1,5.79,5.79,0.11,27100.41,1.80,0,31.088083,1.000000,1.000000
10511,8673,STE MICHELLE WINE ESTATES,13344,Columbia Crest Two Vines Rsl,3.57,5.29,1500.0,1,3.57,1,5.29,5.29,0.22,15919.70,1.72,0,32.514178,1.000000,1.000000
10512,4425,MARTIGNETTI COMPANIES,27934,Terruzzi & Puthod Vernaccia,3.37,4.99,750.0,1,3.37,1,4.99,4.99,0.11,144929.24,1.62,0,32.464930,1.000000,1.000000
10513,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,0.99,50.0,2,1.48,2,0.99,1.98,0.10,14069.87,0.50,0,25.252525,1.000000,1.000000

In [61]:
df.shape

(10514, 19)

In [ ]:
for table in tables["name"]:
    result = pd.read_sql(f"SELECT COUNT(*) AS count FROM {table}", conn)
    print("-" * 50 + f"Table Name : {table}" +  "-" * 50)
    print(f"Row Count  : {result['count'].values[0]}")